/* MEDIA start */
@media(max-width: 991px){
    .slider__img {
        height: 50vh !important;
        margin-bottom: 20px;
    }
    .header__title {
        font-size: 40px;
    }
    .header__desctiption {
        font-size: 20px;
    }
    .menu__link {
        margin-left: 0;
    }
    .navbar-nav {
        margin-top: 15px;
    }
    .navbar-expand-lg>.container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 767px) {
    .menu__link {
        margin-left: 0;
        margin-top: 7px;
        display: block;
    }

    .header__title {
        font-size: 45px;
        text-align: center;
    }
    
    .header__desctiption {
        text-align: center;
    }
    .tabs__info {
        margin-top: -50px;
        position: relative;
        height: auto;
    }
}

@media(max-width: 575px) {
    .header__desctiption, .content__description, .slider__description, .slider__title, .tabs__title, .tabs__description, .accordion__description {
        text-align: center;
    }
    .logo {
        font-size: 20px;
    }
    .slider__link, .tabs__button {
        display: flex;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    .content__description {
        margin-bottom: 25px;
    }
    .content__title {
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

/* MEDIA end */
/* ===================== */